<h1 i18n>Oops! You've Stumbled Upon the Abyss</h1>
<p i18n>Our highly trained squirrels couldn't find the page you were looking for.</p>
<p i18n>Here are some possible reasons:</p>
<ul>
    <li i18n>You mistyped the URL. Seriously, how could you?</li>
    <li i18n>The page is on vacation. It's sipping piña coladas on a tropical island.</li>
    <li i18n>Gremlins ate the code. We suspect they're in cahoots with the squirrels.</li>
</ul>
<p i18n>But don't worry, it's definitely not our fault. We're perfect.</p>
<p i18n>Feel free to <a href="https://www.google.com/search?q=return-to-safety&tbm=isch">return to safety</a> or explore the <a href="https://www.google.com/search?q=secret+unicorn+lair&tbm=isch-unicorn-lair">secret unicorn lair</a>.</p>
<p i18n>And remember, blame the user. Always.</p>
<p i18n>This text could perhaps have been created by an AI.</p>