<form [formGroup]="registerform" (ngSubmit)="register()">
    <p>
        <mat-form-field>
            <mat-label>E-Mail</mat-label>
            <input matInput id="email" type="email" formControlName="email">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Displayname</mat-label>
            <input matInput id="displayname" type="text" formControlName="displayname">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput id="password" type="password" formControlName="password">
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button type="submit" [disabled]="!registerform.valid">Submit</button>
    </p>
</form>